In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from PIL import Image
import glob

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
df_patients = pd.read_csv('/content/drive/My Drive/COVID-CTset/CSV/Patient_details.csv')

In [ ]:
df_patients.head()

  Patient ID SEX   AGE      Date COVID-19 Infection
0   patient1   F  053Y  20200407           Positive
1   patient3   M  066Y  20200418           Positive
2   patient5   M  035Y  20200328           Positive
3   patient7   F  060Y  20200324           Positive
4   patient9   F  034Y  20200325           Positive

In [ ]:
!unzip -uq "/content/drive/My Drive/COVID-CTset/COVID-CTset.zip" -d "/content/drive/My Drive/COVID_XRAY/Images_test"

file #1:  bad zipfile offset (lseek):  0
file #2:  bad zipfile offset (local header sig):  42
file #3:  bad zipfile offset (local header sig):  91
file #4:  bad zipfile offset (local header sig):  149
file #5:  bad zipfile offset (local header sig):  212
file #6:  bad zipfile offset (lseek):  368640
file #7:  bad zipfile offset (lseek):  737280
file #8:  bad zipfile offset (lseek):  1114112
file #9:  bad zipfile offset (lseek):  1482752
file #10:  bad zipfile offset (lseek):  1859584
file #11:  bad zipfile offset (lseek):  2228224
file #12:  bad zipfile offset (lseek):  2596864
file #13:  bad zipfile offset (lseek):  2965504
file #14:  bad zipfile offset (lseek):  3334144
file #15:  bad zipfile offset (lseek):  3710976
file #16:  bad zipfile offset (lseek):  4087808
file #17:  bad zipfile offset (lseek):  4464640
file #18:  bad zipfile offset (lseek):  4841472
file #19:  bad zipfile offset (lseek):  5218304
file #20:  bad zipfile offset (lseek):  5595136
file #21:  bad zipfile offset (lseek):  5971968
file #22:  bad zipfile offset (lseek):  6348800
file #23:  bad zipfile offset (lseek):  6725632

In [ ]:
names = df_patients["Patient ID"] + "_"

In [ ]:
image_list = []

for filename in glob.glob('/content/drive/My Drive/COVID_XRAY/Images/*.tif'): #assuming gif

    for i, name in enumerate(names):
      try:
        if name in filename[-40:]:
          im = Image.open(filename)
          image_list.append([np.array(im), df_patients["COVID-19 Infection"][i]])
      except:
        print("Deu Ruim")


df = pd.DataFrame(image_list, columns = ["Images","Infection" ])

/usr/local/lib/python3.6/dist-packages/PIL/TiffImagePlugin.py:788: UserWarning: Corrupt EXIF data.  Expecting to read 2 bytes but only got 0.
  warnings.warn(str(msg))

Deu Ruim

In [ ]:
df.head()

                                              Images Infection
0  [[43, 7, 21, 35, 7, 9, 0, 40, 48, 57, 2, 0, 11...  Negative
1  [[19, 27, 71, 7, 73, 0, 77, 25, 59, 0, 48, 45,...  Negative
2  [[14, 34, 82, 48, 0, 0, 142, 101, 0, 22, 10, 6...  Negative
3  [[35, 42, 78, 28, 14, 0, 71, 77, 22, 28, 0, 7,...  Negative
4  [[44, 29, 30, 25, 12, 14, 27, 31, 29, 34, 26, ...  Negative

In [ ]:
df["Images"][0].shape

(512, 512)

In [ ]:
X = []
for d in df["Images"]:
  X.append(d)

In [ ]:
X = np.array(X)
X.shape

(5745, 512, 512)

In [ ]:
np.save('X.npy', X)
!cp X.npy '/content/drive/My Drive/COVID_XRAY/'

In [ ]:
df.to_csv("covid_xray2.csv")
!cp covid_xray.csv "/content/drive/My Drive/COVID_XRAY/"

In [ ]:
l = []
for d in df["Infection"]:
  if d == "Positive":
    l.append(True)
  else:
    l.append(False)

df["Infection Bool"] = l

In [ ]:
df.head()

                                              Images Infection  Infection Bool
0  [[43, 7, 21, 35, 7, 9, 0, 40, 48, 57, 2, 0, 11...  Negative           False
1  [[19, 27, 71, 7, 73, 0, 77, 25, 59, 0, 48, 45,...  Negative           False
2  [[14, 34, 82, 48, 0, 0, 142, 101, 0, 22, 10, 6...  Negative           False
3  [[35, 42, 78, 28, 14, 0, 71, 77, 22, 28, 0, 7,...  Negative           False
4  [[44, 29, 30, 25, 12, 14, 27, 31, 29, 34, 26, ...  Negative           False

In [ ]:
df['Infection Bool'].to_csv('y.csv')
!cp y.csv "/content/drive/My Drive/COVID_XRAY/"

In [ ]:
X = np.load('/content/drive/My Drive/COVID_XRAY/X.npy')

In [ ]:
y = pd.read_csv('/content/drive/My Drive/COVID_XRAY/y.csv')
y.head()

   Unnamed: 0  Infection Bool
0           0           False
1           1           False
2           2           False
3           3           False
4           4           False